#cloud {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.uni-graph h1 {
    text-align: center;
    font-size: 5em;
    color: #1c6d9f;
}

.fp-watermark {
    display: none;
}